
@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<!--Person ID-->
<div>
    <b>ID</b>
</div>
<div>
    @ViewData["PersonId"];
</div>

<!--Name-->
<div>
    <b>Name</b>
</div>
<div>
    @ViewData["Name"];
</div>

<!--Type-->
<div>
    <b>Type</b>
</div>
<div>
    @ViewData["Type"];
</div>

<!--return-->

<a href="~/"> Return </a>