@model Intro.Models.User

@{
    ViewBag.Title = "Result";
}

<h2>Users</h2>

<fieldset>
    <legend>User Infos</legend>

    <!--name-->
    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>

    <div class="editor-label">
        
    </div>

